<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_openvpn_ext_port">External Port:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_openvpn_ext_port" type="text" class="form-control" name="app_detail_openvpn_ext_port"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_openvpn_int_port">Internal Port:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_openvpn_int_port" type="text" class="form-control" name="app_detail_openvpn_int_port"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_openvpn_network">VPN Network:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_openvpn_network" type="text" class="form-control" name="app_detail_openvpn_network"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_openvpn_subnet">VPN Subnet:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_openvpn_subnet" type="text" class="form-control" name="app_detail_openvpn_subnet"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_openvpn_proto">VPN Protocol:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_openvpn_proto" type="text" class="form-control" name="app_detail_openvpn_proto"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_ovpn_k8s_pod_network">VPN K8S Pod Network:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_ovpn_k8s_pod_network" type="text" class="form-control" name="app_detail_ovpn_k8s_pod_network"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="app_detail_ovpn_k8s_pod_subnet">VPN K8S Pod Network:</label>
    <span class="col-xs-4">
        <span class="input-group">

               <input id="app_detail_ovpn_k8s_pod_subnet" type="text" class="form-control" name="app_detail_ovpn_k8s_pod_subnet"
               value="" placeholder="Port">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
        </span>

</span>
</div>