
<div class="modal fade " id="modal-confirm-windowstabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-action modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times</span></button>
                <h4 class="modal-title" id="myModalLabel">Remove Host</h4>
            </div>
            <div class="modal-body ">

                <div id="removeconfirm" style="height: 150px; width: 200px; position: relative;z-index: 10;">
                    <div style="position: absolute; margin-left: 10px; margin-top: 10px;"><h3>Are you sure to remove this from cluster?</h3></div>
                    <div style="position: absolute; right: -50px; top: 50px;z-index: 20"><i class="fa fa-2x fa-caret-right"></i></div>
                    <div style="position: absolute; right: -250px; top: 50px;z-index: 20"><i class="fa fa-2x"></i></div>

                </div>

            </div>
            <div class="modal-footer">
                <button id="confirm_rm" type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>